/* Set height of the grid so .sidenav can be 100% */

.row.content {
    height: 1500px
}

.sidenav {
    height: 100%;
}


/* Set black background color, white text and some padding */

footer {
    background-color: #555;
    color: white;
    padding: 15px;
    margin: 0;
}


/* On small screens, set height to 'auto' for sidenav and grid */

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {
        height: auto;
    }
}

#navName {
    color: black;
}

.weather {
    color: white;
    font-size: 25px;
}

.well {
    color: white;
    background: #222;
    border: none;
}

body {
    font-family: 'Oswald', sans-serif;
    padding: 2em;
    background-image: url("stardust.png");
}

#no_post {
    color: #d9534f;
    font-size: 20px;
}
