<!DOCTYPE html>
<html lang="en">

<head>
    <title>Arman Ashrafian</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="../static/myCSS.css"

</head>

<body>
    <h1>Testing Database</h1>
    <h4>Enter some text</h4>
    <input type="text" id="input" />
    <button type="submit" id="submitButton">Submit</button>
</body>

<script>
    const input = $("#input");
    const subButton = $("#submitButton");

    subButton.click(function() {
        $.post('/new', {text: input.val()});
        /* clear input */
	    input.val('');
    });

</script>

</html>
